body {
    display: flex;
    font-size: 10px;
    margin: auto 15px;
}

main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    padding: 2em;
    border: 2px solid #0f9cd9;
    box-shadow: 1px 1px 5px #0f9cd9;
    border-radius: 1em;
    width: min-content;
}

.standardSize {
    font-size: 2.5em;
}

#addTaskBox {
    display: flex;
    height: max-content;
    width: max-content;
}

#enterTask {
    border: 1.5px solid #1d63f0;
    border-radius: 0.25em;
    box-shadow: 0.5px 0.5px 3.5px #0c5edae1;
}

#enterTask:focus {
    outline: none;
    border: 1.5px solid #0949c9;
    box-shadow: 2px 2px 5px #1d71f0;
}

#pushTask {
    display: flex;
    color: whitesmoke;
    margin-left: 0.75em;
    background-color: #1d71f0;
    border: 1px solid #1d63f0;
    box-shadow: 1px 1px 5px #1d71f0;
    border-radius: 0.25em;
    cursor: pointer;
}

#pushTask:hover {
    opacity: 0.85;
    transition-duration: 0.15s;
}

#pushTask:active {
    background-color: #115ed1;
}

#taskArea {
    margin-top: 1em;
}

.taskBlock {
    display: flex;
    justify-content: space-between;
    min-width: 33em;
}

.task {
    flex: 0 0 80%;
    padding: 0.2em 1em;
    margin-top: 1em;
}

.delete {
    display: flex;
    flex: 0 1 20%;
    align-items: center;
    margin-top: 2em;
    padding: 0.2em 0.5em;
    max-height: 3em;
    max-width: max-content;
    background-color: rgba(223, 35, 35, 0.651);
    border: 1px solid rgba(219, 25, 25, 0.651);
    box-shadow: 1px 1px 5px rgba(219, 25, 25, 0.651);
    border-radius: 4px;
}

.delete:hover {
    opacity: 0.85;
    transition-duration: 0.15s;
}

.delete:active {
    opacity: 1.1;
    transition-duration: 0.15s;
}

.delete img{
    pointer-events: none;
    max-height: 1.5em;
}